<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 2: Start here... %>
<%= form_tag movies_path, :method => :get, :id => "ratings_form" do %>
  Include:
  <% @all_ratings.each do |rating| %>
    <%= rating %>
    <% if session[:filtered_ratings].nil? or session[:filtered_ratings].include?(rating) %>
      <%= check_box_tag "ratings[#{rating}]", 1, true %>
    <% else %>
      <%= check_box_tag "ratings[#{rating}]", 1, false %>
    <% end %>
  <% end %>
  <%= submit_tag 'Refresh', :id => "ratings_submit" %>
<% end %>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th class="<%= ("hilite bg-warning" if session[:sort_title] == 1) %>">
        <%= link_to 'Movie Title', movies_path(:sort_title => '1', :ratings => params[:ratings], :id => 'title_header') %>
      </th>
      <th>Rating</th>
      <th class="<%= ("hilite bg-warning" if session[:sort_release_date] == 1) %>">
        <%= link_to 'Release Date', movies_path(:sort_release_date => '1', :ratings => params[:ratings], :id => 'release_date_header') %>
      </th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>
